<div class="modal-content giveaway-invite" ng-controller="GiveawayInviteController">
  <div class="modal-header">
    <h4 class="modal-title">Invite a Friend, you'll each get 1 additional ticket</h4>
    <div ng-include="'/templates/modal-close.html'"></div>
  </div>
  <div class="modal-body">
      <div class="invite-url alert alert-info">{{options.data.inviteUrl}}</div>
      <center>
        <button class="btn btn-gold" ng-click="copy()" ng-disabled="isCopied"><i class="fas fa-paste"></i> {{isCopied ? 'Copied' : 'Copy'}}</button>
        <a class="btn btn-gold" ng-href="{{tweetUrl}}" target="_blank"><i class="fab fa-twitter"></i> Tweet</a>
      </center>
      <hr/>
      <div ng-show="options.data.user.invites.length > 0">
        <h3>Accepted Invites ({{options.data.user.invites.length}})</h3>
        <table class="table">
          <tr ng-repeat="invite in options.data.user.invites">
            <td>/u/{{invite.toUser.redditUsername}}</td>
          </tr>
        </table>
      </div>
  </div>
</div>
