.account {
  min-height: calc(100% - 366px);
}

#login-button {
  margin-top: 10px;
}

.gate {
  padding-bottom: 150px;
  color: #333;
}

.gate .tos {
  margin-top: 10px;
  display: block;
}

.gate .tos-checkbox {
  margin-right: 4px;
}

.gate .button {
  display: inline;
}
